/* 始まりは.←こいつから */
/* .background {
    background-color: #FFF598;
    margin: 0 32px;
    width: calc(100% - 64px);
    height: 100%;
    
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    border: #000 1px solid;
} */

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* カンマを入力すると複数の要素に適用できる↓ */
header,
.sec02,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 20px;
}

.sec01 {
    margin: 80px 0;

    h1 {
        margin-bottom: 24px;
    }
}

header .logo {
    width: 320px;
    height: auto;
}

header p {
    font-weight: 800;
    white-space: nowrap;
}

p,
h1,
h2 {
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    opacity: 0.7;
    transition: all .3s;
}

.mark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec02 {
    h1 {
        margin-bottom: 24px;
    }

    .txt-area {
        background: #fff;
        border: 1px #E5E7EB solid;
        filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
        border-radius: 10px;
        padding: 64px 16px;
        font-weight: 600;

        p:last-of-type {
            margin-top: 24px;
        }
    }
}


.card-list {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    gap: 24px;
}

/* 親要素↓ */
/* .card-botan{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 32px;
} */

/* 子要素↓ */
/* afterを付けたらcontentはセットになる */
/* .card-botan::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    width: min(680px, calc(100% - 32px));
    height: clamp(80px, 10vw, 140px);
    z-index: -1;
    border: #000 1px solid;
    border-radius: 999px;
} */

/* .card-img{
    width: clamp(72px, 25%, 160px);
    height: auto;
} */

.card-botan {
    display: grid;
    padding: 0 42px;
    place-content: center;
    height: max-content;
    grid-template-columns: auto 1fr;
    gap: 16px;
    position: relative;

    .txt {
        background-color: #fff;
        border: 1px #E5E7EB solid;
        height: 145px;
        border-radius: 10px;
        padding: 24px 16px;
        text-align: left;
        /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.8); */
        filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
        font-size: 20px;
        font-weight: 800;
    }

    .txt::after {
        content: '→';
        color: #fff;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -2%;
        right: -2%;
        width: 45px;
        height: 45px;
        border-radius: 999px;
        background: linear-gradient(to bottom right, #F8E184, #7EB4FF, #FF3F3F);
    }

    .card-img {
        width: 100px;
    }
}

.soon {
    .card-img {
        display: flex;
        align-self: end;
    }

    .txt {
        background: #B8B8B8;
    }

    .txt::after {
        display: none;
    }
}





.quiz-poke {
    /* .background {
        background-color: #ffc6bf;
        margin: 0 0px;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        border: #000 0px solid;
    } */

    .card-list{
        margin-top: 32px;
    }

    .card-botan{
        display: inline-block;
        position: relative;

        .txt{
           position: absolute;
           font-size: 24px;
           width: 100vw;
           height: auto;
           padding: 16px 0;
           text-align: center;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           border-radius: 0;
           filter: none;
           /* background-color: rgba(255, 255, 255, 0.4);
           backdrop-filter: blur(22px); */
           background-color: rgba(255, 255, 255, 0.1);
           backdrop-filter: blur(4px);
        }

        .txt::after{
            display: none;
        }

    }

    .card-img {
        width: 100%;
        height: auto;
    }

    .potipoti {
        background-color: #fff;
        filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
        border: 1px #E5E7EB solid;
        border-radius: 999px;
        width: 12em;
        height: auto;
        padding: 1em 1.5em;

        p{
            width: auto;
        }
    }

    .sentaku {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 64px;
        flex-direction: column;

        .potipoti {
            font-size: 24px;
            font-weight: 600;
        }

        .normal{
            border: 2px solid #FF9A9A;
            filter: drop-shadow(0px 2px 8px rgba(255, 154, 154, 0.2));
        }

        .renzoku{
            border: 2px solid #8AA8EC;
            filter: drop-shadow(0px 2px 8px rgba(138, 168, 236, 0.2));
        }
    }

    .sentaku2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        margin-top: 64px;

        .potipoti {
            font-size: 14px;
            font-weight: 600;
            width: 9em;
        }
    }
}

@media screen and (min-width: 768px) {
    body{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
    }
    
    header{        
         
        .logo{
            width: 400px;
        }

        p{
            font-size: 18px;
        }     
    }

    .sec02{
        .txt-area{
            padding: 80px 40px;
            font-size: 20px;
            max-width: 600px;
            width: 100%;
        }
    }

    .card-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        /* max-width: 800px; */
        margin: 0 auto;
    }

    .card-botan{
        padding: 0 24px;

        .txt{
            height: 160px;
            padding: 32px 24px;
            font-size: 22px;
        }

        .card-img{
            width: 120px;
        }
    }

    .quiz-poke{
        .card-list{
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;
        }
    }

}

@media (min-width: 1024px) {
    header{
        .logo{
            width: 450px;
        }
    }

    header,
    .sec02,
    footer{
        margin: 100px 40px;
    }

    .sec01{
        margin: 100px 0;
    }

    .card-botan{
        .txt{
            height: 180px;
            font-size: 24px;
        }

        .card-img{
            width: 140px;
        }
    }

}