# Windows
desktop.ini
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.lnk
.vscode

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent