<!-- ファビコン -->
<link rel="icon" href="/assets/favicon.ico" sizes="48x48">
<link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">

<!-- OGP共通設定 -->
<meta property="og:site_name" content="さぁジャッジ！">
<meta property="og:url" content="https://sirjudge.com/">
<meta property="og:locale" content="ja_JP">
<meta property="og:image" content="https://sirjudge.com/assets/summary-large-image.png">
<meta name="twitter:site" content="@sirjudge_TCG">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="さぁジャッジ！">
<meta name="twitter:description" content="このサイトはクイズでポケモンカードゲームなど、カードゲームのルールを楽しく覚えられるサイトです。">
<meta name="twitter:image" content="https://sirjudge.com/assets/summary-large-image.png">

